:root {
	--bgcolor: #5210AE;
	--txtcolor: #FFD42D;
	--white: #FFF;
	--grey: #505050;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100vw;
	scroll-behavior: smooth;
}

/* navigation section */

.navbar{
	padding: 10px;
	width: 100%;
	height: 50px;
	background: var(--bgcolor) !important;
}

.nav-item {
	color: var(--txtcolor) !important;
}

.navbar-brand {
	width: 110px;
	height: 50px;
}

.navbar a{
	font-size: 18px;
	margin-right:20px;
}

/* welcome section */

#welcome-section {
	height: 100vh;
	background-color: var(--bgcolor);
}

#welcome-section h1 {
	color: var(--txtcolor);
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: bold;
	line-height: 60px;
}

#welcome-section p {
	color: var(--white);
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	line-height: 35px;
}

.scroll{
	margin-top: 30px;
	position: relative;
	animation-name: scroll;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.scroll i{
	color: var(--txtcolor);
}

@keyframes scroll{
	0%{
		top: 0px;
	}
	50%{
		top: 50px;
	}
	100%{
		top: 0px;
	}
}

/* Tools section */

.tools-highlight {
	color: var(--bgcolor);
	text-decoration: underline;
}

#tool-box {
	height: 100vh;
}

#tool-box h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: bold;
	line-height: 60px;
}

#tool-box p {
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	line-height: 35px;
}

.tool-items {
	margin-top: 30px;
	display: grid;
	width: 60%;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tools{
	background-color: var(--txtcolor);
	border-radius: 5px;
	text-align: center;
	position: relative;
	animation-name: tools;
}

#tool-1, #tool-2, #tool-3{
	animation-duration: 0.6s;
}
#tool-4, #tool-5, #tool-6{
	animation-duration: 0.8s;
}
#tool-7, #tool-8{
	animation-duration: 1s;
}

@keyframes tools{
	0%{
		top: 100px;
		opacity: 0.1;
	}
	100%{
		top: 0px;
		opacity: 1;
	}
}

.tools p{
	padding: 10px;
	font-size: 25px;
	color: var(--grey);
}

.tools:hover{
	top: -3px;
	cursor: pointer;
}

/* Projects section */

.project-highlight {
	color: var(--bgcolor);
	text-decoration: underline;
}

#projects {
	height: 100vh;
}

#projects h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: bold;
	line-height: 60px;
}

#projects p {
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	line-height: 35px;
}

.card:hover{
	top: -3px;
}

/* About me section */

.about-highlight {
	color: var(--bgcolor);
	text-decoration: underline;
}

#about-me {
	height: 100vh;
}

#about-me h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: bold;
	line-height: 60px;
}

#about-me p {
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	line-height: 35px;
}

/* Contact section */

.contact-highlight {
	color: var(--bgcolor);
	text-decoration: underline;
}

#contact {
	height: 100vh;
}

#contact h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: bold;
	line-height: 60px;
}

#contact p {
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	line-height: 35px;
}
